// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,300&display=swap');

body {
  background-color: white;
  // font-family: 'Montserrat', sans-serif !important;
}

p {
  margin: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.card {
  width: 300px;
  height: 180px;
  display: flex;
  flex-direction: column;
  margin: 8px 8px 8px 0;
}

.card-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.card-footer {
  width: 100%;
  padding: 0 8px;
  background-color: #e3f2fd;
}

.card-info  {
  padding: 8px;
  flex-grow: 1;
}

